.messeng {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: c;
    background-color: white;
    font-size: 30px;
}
.messages{
    height: 100%;
    max-height: 640.7px;
    overflow-y: auto;
}
.btnChats{
    height: 45px;
    margin:10px ;
    border: 0;
    border-radius: 10px;
    background-color: rgb(3, 45, 70);
    color:rgb(213, 255, 253);
    font-size: 15px;
}
.inputChats{
    width: 60%;
    height: 55px;
    background-color: rgb(220, 247, 246);
    border: solid 2px;
    border-radius: 25px;
    border-color:rgb(65, 94, 95);
    color: rgb(3, 45, 70);
    font-size: 20px;
}
.inputChats:focus{
    background-color: rgb(220, 247, 246);
    border: solid 2px;
    border-radius: 25px;
    border-color:rgb(65, 94, 95);
}
