.messeng {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: c;
    background-color: white;
}
.h{
    margin-left: 40%;
    font-size: 26px;
    color: rgb(4, 51, 82);
}

/* .dialogsItem{
    margin: 20px;
    size: 100px;
}
.dialogs{
     display:flex;

    grid-template-columns: 2fr 10fr; 
    size: 12px;
} */
.inputMakeChat {
    width: 30%;
    height:40px;
    resize: none;
    display: flex;
    background-color: rgba(203, 230, 239, 0.429);
    border-bottom: solid 1px;
    color: rgb(4, 51, 82);
    border-color: rgb(4, 51, 82);
    font-size: 20px;
}
.inputMakeChat:focus{
    background-color: rgba(203, 230, 239, 0.429);
    outline: none;
}
.inputRadio{
    display: flex;
    font-size: 25px;
}
/* #rad1, #rad2{
    width: 200px; 
} */
.btnMakeChat{
    font-size: large;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(3, 45, 70);
    color:white;
}